home-kubernetes-talos-controller-1.yaml
home-kubernetes-talos-controller-2.yaml
home-kubernetes-talos-controller-3.yaml
home-kubernetes-talos-node-1.yaml
home-kubernetes-talos-node-2.yaml
home-kubernetes-talos-node-3.yaml
talosconfig
