# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# Bootstrap
/config.yaml
cloudflared.json
opentofu/.terraform
opentofu/.terraform.lock.hcl
opentofu/.terraform.tfstate.lock.info
opentofu/terraform.tfstate
opentofu/terraform.tfstate.backup
